body{background:#D3D3D3;}
body a{color:#000;}
.hero{text-align:center;font-size:75px;font-family:'Mukta', sans-serif;}
.herotwo{font-size:50px;margin-bottom:30px;}
.container{margin-bottom:10px;}
footer{margin-top:30px;}
.tracks{text-align:center;}